.file-container {
    background-color: #eff4f9;
    display: flex;
    justify-content: center;
}

.md-file {
    background-color: #fff;
    width: 100%;
    padding: 40px 70px;
    max-width: 1000px;
    box-shadow: 0 0 7px 0px #00000085;
}